:host {


	--primary-color: #147efb;
	--color-fg-primary: #1473fb;
	--color-btn-primary-fg: #1473fb;
	--color-btn-primary-border: #1473fb;
	--color-btn-primary-hover-bg: #1473fb;
	--color-btn-primary-hover-border: #1473fb;

	/*muffled*/
	--color-btn-primary-disabled-bg:  #e6f0fe;
	--color-btn-primary-disabled-border: #e6f0fe;
	--color-bg-inrange: #e6f0fe;

	height: 600px;

	--color-bg-unavailable: transparent;
	--color-fg-accent: inherit;	
}

:host .container  {
	font-weight: 400;
	font-family: "Nunito Sans";
}


:host .container.inline {
	box-shadow: none;
}

:host .today {
	font-weight: bold;
}


:host .not-available {
	text-decoration: line-through;
}

