/* =========== © 2022 counter.dev =========== */

/* Reset */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Main */
body,
html {
  height: 100%;
  font: 400 18px "Nunito Sans";
  color: #121212;
  line-height: 25px;
}
section .content {
  display: flex;
  width: 1110px;
  margin: 0 auto;
}

/* Colors */
.white {
  color: #ffffff;
}
.black {
  color: #121212;
}
.blue {
  color: #147efb;
}
.red {
  color: #fc3158;
}
.green {
  color: #53d769;
}
.yellow {
  color: #fecb2e;
}
.gray {
  color: #616161;
}
.light-gray {
  color: #9e9e9e;
}
.line-gray {
  color: #e0e0e0;
}
.bg-gray {
  background-color: #fafafa;
}
.bg-white {
  background-color: #ffffff;
}
.bg-blue {
  background-color: #e7f6ff;
}
.bg-dark-blue {
  background-color: #147efb;
}
.bg-red {
  background-color: #fc3158;
}
.bg-green {
  background-color: #53d769;
}
.bg-yellow {
  background-color: #fecb2e;
}
.bg-orange {
  background-color: #fd9426;
}
.bg-light-blue {
  background-color: #5fc9f8;
}
.bg-dark-gray {
  background-color: #9e9e9e;
}
::selection {
  background: #e7f6ff;
  color: #147efb;
}
::-webkit-input-placeholder {
  color: #9e9e9e;
}
::-moz-placeholder {
  color: #9e9e9e;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #9e9e9e !important;
}

/* Corner radius */
.radius-sm {
  border-radius: 3px;
}
.radius-lg {
  border-radius: 16px;
}

/* Shadows */
.shadow-sm {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
}
.shadow-lg {
  box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.03);
}

/* Gradients */
.gradient-green {
  background: linear-gradient(
    142.67deg,
    rgba(254, 203, 46, 0.14) 0%,
    rgba(83, 215, 105, 0.14) 100%
  );
}
.gradient-red {
  background: linear-gradient(
    142.67deg,
    rgba(254, 203, 46, 0.08) 0%,
    rgba(252, 49, 88, 0.08) 100%
  );
}

/* Typography */
h1,
.h1 {
  font: 700 72px "Poppins";
  line-height: 96px;
}
h2,
.h2 {
  font: 700 37px "Poppins";
  line-height: 48px;
}
h3,
.h3 {
  font: 700 22px "Poppins";
  line-height: 30px;
}
.title {
  font: 400 24px "Nunito Sans";
  line-height: 33px;
}
.strong {
  font: 700 18px "Nunito Sans";
}
.caption {
  font: 400 14px "Nunito Sans";
  line-height: 19px;
}
.caption-strong {
  font: 700 14px "Nunito Sans";
  line-height: 19px;
}

/* Margin multiple of 8 */
.mt8 {
  margin-top: 8px;
}
.mt16 {
  margin-top: 16px;
}
.mt24 {
  margin-top: 24px;
}
.mt32 {
  margin-top: 32px;
}
.mt40 {
  margin-top: 40px;
}
.mt48 {
  margin-top: 48px;
}
.mt56 {
  margin-top: 56px;
}
.mt64 {
  margin-top: 64px;
}
.mt72 {
  margin-top: 72px;
}
.mt80 {
  margin-top: 80px;
}
.mt88 {
  margin-top: 88px;
}
.mt96 {
  margin-top: 96px;
}
.mr8 {
  margin-right: 8px;
}
.mr16 {
  margin-right: 16px;
}
.mr24 {
  margin-right: 24px;
}
.mr32 {
  margin-right: 32px;
}
.mr40 {
  margin-right: 40px;
}
.mr48 {
  margin-right: 48px;
}
.mr56 {
  margin-right: 56px;
}
.mr64 {
  margin-right: 64px;
}
.mr72 {
  margin-right: 72px;
}
.mr80 {
  margin-right: 80px;
}
.mr88 {
  margin-right: 88px;
}
.mr96 {
  margin-right: 96px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb16 {
  margin-bottom: 16px;
}
.mb24 {
  margin-bottom: 24px;
}
.mb32 {
  margin-bottom: 32px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb48 {
  margin-bottom: 48px;
}
.mb56 {
  margin-bottom: 56px;
}
.mb64 {
  margin-bottom: 64px;
}
.mb72 {
  margin-bottom: 72px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb88 {
  margin-bottom: 88px;
}
.mb96 {
  margin-bottom: 96px;
}
.ml8 {
  margin-left: 8px;
}
.ml16 {
  margin-left: 16px;
}
.ml24 {
  margin-left: 24px;
}
.ml32 {
  margin-left: 32px;
}
.ml40 {
  margin-left: 40px;
}
.ml48 {
  margin-left: 48px;
}
.ml56 {
  margin-left: 56px;
}
.ml64 {
  margin-left: 64px;
}
.ml72 {
  margin-left: 72px;
}
.ml80 {
  margin-left: 80px;
}
.ml88 {
  margin-left: 88px;
}
.ml96 {
  margin-left: 96px;
}

/* Underline */
.underline {
  text-decoration: underline;
}

/* Animation */
.animation {
  transition: all 0.3s;
}

/* Flex */
.flex {
  display: flex;
  width: 100%;
}
.full {
  flex: 1;
} /* Take up all free space */

/* Width */
.width-full {
  width: 100%;
}
.width-half {
  width: 50%;
}

/* =========== Components =========== */

/* Link */
a {
  text-decoration: none;
  color: #147efb;
  transition: color 0.2s;
}
a:hover {
  color: #147efb;
}
a:active {
  color: #0053c7;
}

/* Buttons */
.btn-primary {
  height: 48px;
  display: inline-block;
  background: linear-gradient(123.18deg, #00ffff 0%, #147efb 48.17%);
  background-size: auto 300%;
  background-position: 0 100%;
  font: 700 18px "Nunito Sans";
  color: #ffffff;
  padding: 12px 24px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.btn-primary:hover {
  background-size: auto 100%;
  background-position: 0 0;
  color: #ffffff;
}
.btn-primary:active {
  background-size: auto 300%;
  background-position: 0 100%;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.16);
  color: #ffffff;
}
.btn-primary[disabled] {
  background: #147efb;
  box-shadow: none;
  opacity: 0.4;
  cursor: not-allowed;
}

.btn-secondary {
  height: 48px;
  display: inline-block;
  font: 700 18px "Nunito Sans";
  color: #147efb;
  padding: 11px 23px;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(123.18deg, #00ffff 0%, #147efb 48.17%) border-box;
  background-size: auto 300%;
  background-position: 0 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-size: auto 100%;
  background-position: 0 0;
  color: #147efb;
}
.btn-secondary:active {
  background-size: auto 300%;
  background-position: 0 100%;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.16);
  color: #147efb;
}
.btn-secondary[disabled] {
  border: 1px solid #147efb;
  box-shadow: none;
  opacity: 0.4;
}

.btn-white {
  height: 48px;
  display: inline-block;
  background-color: #ffffff;
  font: 700 18px "Nunito Sans";
  font-weight: 400;
  color: #147efb;
  padding: 12px 24px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.btn-white:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #147efb;
}
.btn-white:active {
  box-shadow: none;
  color: #0053c7;
}
.btn-icon {
  padding: 11px;
}
.btn-icon img {
  vertical-align: top;
}
.btn-danger {
  color: #fc3158 !important;
}

.btn-close {
  width: 24px;
  height: 24px;
  background-image: url(../img/close.svg);
  cursor: pointer;
  transition: 0.2s;
  margin-left: auto;
}

.btn-close:hover {
  transform: rotate(90deg);
}

/* Buttons IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .btn-primary {
    background: #147efb;
  }
  .btn-primary:hover {
    background: #0daafc;
  }
  .btn-secondary {
    border: 1px solid #147efb;
  }
  .btn-secondary:hover {
    border: 1px solid #0daafc;
  }
}

/* Forms */
label {
  display: inline-block;
  font: 400 14px "Nunito Sans";
}
label:focus-within {
  color: #147efb;
}
label input,
label textarea,
label select {
  margin-top: 8px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
  display: block;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  font: 400 18px "Nunito Sans";
  color: #121212;
  padding: 11px 16px;
  transition: border 0.2s;
}
textarea:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
  border: 1px solid #cccccc;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border: 1px solid #147efb;
}
textarea:disabled,
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled {
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  color: #616161;
}

select {
  display: block;
  height: 48px;
  padding: 11px 44px 11px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  font: 400 18px "Nunito Sans", sans-serif;
  color: #121212;
  background: url(../img/arrow--blue.svg) right 12px center no-repeat #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

select:hover {
  border: 1px solid #cccccc;
}
select:focus {
  border: 1px solid #147efb;
  background-position: right 12px bottom 8px;
}
::-ms-clear {
  display: none;
}
select::-ms-expand {
  display: none;
}

/* Tabs */
.tabs-menu,
.responsive-tabs-menu {
  width: 100%;
  height: 56px;
  padding: 0 15px;
}
.tabs-menu {
  display: flex;
}
.responsive-tabs-menu {
  display: none;
}

.tabs-menu li,
.responsive-tabs-menu li {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.3s;
}

.tabs-menu a,
.responsive-tabs-menu a {
  height: 24px;
  color: #616161;
  font: 700 18px "Nunito Sans";
}
.tabs-menu .active a,
.responsive-tabs-menu .active a {
  color: #121212;
}
.tabs-menu .active,
.responsive-tabs-menu .active {
  box-shadow: inset 0px -3px 0px #147efb;
  color: #121212;
}
.tabs-menu .active path,
.responsive-tabs-menu .active path {
  stroke: #121212;
}
.tabs-menu .active circle,
.responsive-tabs-menu .active circle {
  stroke: #121212;
}
.tabs-menu path {
  stroke: #9e9e9e;
  transition: all 0.3s;
}
.tabs-menu li:hover path {
  stroke: #616161;
}

/* Scrollbar */
.simplebar-track.simplebar-vertical {
  width: 8px !important;
  right: 8px;
  top: 14px !important;
  bottom: 14px !important;
}
.simplebar-scrollbar:before {
  background-color: #e0e0e0 !important;
  opacity: 1 !important;
}

/* Modal */
.modal {
  box-shadow: none !important;
  border-radius: 16px !important;
  width: 100% !important;
  padding: 0 !important;
}
.blocker {
  background: rgba(0, 0, 0, 0.64) !important;
}
.close-modal {
  display: none !important;
}
.modal-content {
  padding: 24px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
  border-radius: 16px 16px 0px 0px;
  padding: 0 24px;
}

/* Accordion */
.accordion-title {
  display: flex;
  align-items: center;
  height: 64px;
  box-shadow: 0px 1px 0px #e7f6ff;
}

.accordion-title > a {
  display: flex;
  flex: 1;
  height: 64px;
  align-items: center;
}
.accordion-title img {
  margin-left: auto;
  transition-property: transform;
  transition-duration: 0.25s;
}
.accordion-list li:last-child .accordion .accordion-title {
  box-shadow: none;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition-property: margin, padding, max-height;
  transition-duration: 0.25s;
}

.accordion:target .accordion-title {
  box-shadow: none;
  font: 700 18px "Nunito Sans";
}
.accordion:target .accordion-title img {
  transform: rotate(180deg);
  opacity: 0.5;
}
.accordion-list li {
  list-style-type: none;
}

.accordion:target .accordion-content {
  box-shadow: 0px 1px 0px #147efb;
  margin-bottom: 20px;
  padding: 0 40px 24px 48px;
  max-height: 500px;
}

/* Danger */
.danger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.danger-message {
  display: flex;
  align-items: center;
}

/* =========== Body =========== */

header {
  position: relative;
}

/* Notification */
.notification {
  background-color: #e7f6ff;
}

.notification .content {
  display: flex;
  height: 48px;
  font: 700 14px "Nunito Sans";
  line-height: 19px;
  justify-content: space-between;
  align-items: center;
}

/* Navbar */
.navbar {
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
}

/* tha navbar gets included in the header as web component. It loads slower,
 * which changes the scollbar when the site is reloaded. This fix tells the
 * browser sooner the height */
header {
  min-height: 88px;
}

.navbar .content {
  height: 88px;
  align-items: center;
}

.logotype {
  display: block;
  width: 140px;
  height: 32px;
  background-image: url(../img/logotype.svg);
  transition: opacity 0.2s;
}

.logotype:hover {
  opacity: 0.7;
}

.nav-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav a {
  font: 700 18px "Nunito Sans";
  color: #121212;
}

.github-blue {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/github--blue.svg);
  transition: opacity 0.2s;
}

.twitter-blue {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/twitter--blue.svg);
  transition: opacity 0.2s;
}

.github-blue:hover,
.twitter-blue:hover {
  opacity: 0.7;
}
.profile-guest {
  box-shadow: -1px 0px 0px #e0e0e0;
}

.profile-user {
  height: 48px;
  border-radius: 3px;
  padding: 0 48px 0 24px;
  box-shadow: -1px 0px 0px #147efb, 0px 2px 2px rgba(0, 0, 0, 0.04);
  background: url(../img/menu.svg) right 16px center no-repeat #ffffff;
  line-height: 48px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 160px;
  background: #ffffff;
  padding: 0 16px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 14px 0;
  box-shadow: 0px 1px 0px #e0e0e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .profile-user {
  box-shadow: -1px 0px 0px #e0e0e0;
  background: url(../img/menu.svg) right 16px bottom 10px no-repeat #fafafa;
}

/* Hamburger */
.hamburger-menu {
  display: none;
  width: 24px;
  height: 24px;
}
.hamburger-btn {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../img/hamburger.svg);
}
#hamburger-toggle {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}

.hamburger-box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.64);
  transition-duration: 0.25s;
  z-index: 999998;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 0 15px;
}

#hamburger-toggle:checked ~ .hamburger-box {
  visibility: visible;
  left: 0;
}
#hamburger-toggle:checked ~ .hamburger-btn {
  position: fixed;
  background-image: url(../img/close.svg);
  z-index: 999999;
}

.nav-header-mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Slider */
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav {
  margin-top: 10px;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #fff;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
  border: 2px solid #147efb;
}

/* Donate */
.donate-wrap {
  display: flex;
  width: 100%;
  background: #ffffff;
  box-shadow: -1px 0px 0px #147efb, 0px 24px 24px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  padding: 32px 52px 32px 0;
  align-items: center;
  justify-content: space-between;
}

.donate-icon {
  width: 120px;
  height: 88px;
  box-shadow: 1px 0px 0px #e0e0e0;
  background: url(../img/donate.svg) center no-repeat;
}

.donate-description {
  width: 724px;
}

/* Footer */
.footer {
  margin-top: 96px;
  background-color: #fafafa;
}

.footer .content {
  height: 214px;
  justify-content: space-between;
  align-items: center;
}

.footer li {
  list-style-type: none;
  margin-bottom: 8px;
}
.footer li:last-child {
  margin-bottom: 0;
}
.footer-logo {
  width: 255px;
}
.footer-logo img {
  display: block;
  margin-bottom: 35px;
}
.nav-footer {
  display: flex;
}
.nav-footer-one,
.nav-footer-two {
  width: 160px;
}
.nav-footer-one {
  margin-right: 30px;
}
.footer-contacts {
  width: 255px;
}
.footer-contacts-social {
  height: 24px;
}

.github {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/github.svg);
  transition: opacity 0.2s;
}

.twitter {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/twitter.svg);
  transition: opacity 0.2s;
}

.github:hover,
.twitter:hover {
  opacity: 0.7;
}

/* Settings */
.tracking-code {
  display: flex;
  flex-wrap: wrap;
}

.delete-request,
.delete-confirm {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* Edit account */
.delete-account {
  padding-top: 16px;
  box-shadow: 0px -1px 0px #e0e0e0;
}

/* Mobile */
@media (max-width: 1110px) {
  section .content {
    width: 100%;
    padding: 0 15px 0 15px;
  }
  h1,
  .h1 {
    font: 700 41px "Poppins";
    line-height: 54px;
  }
  h2,
  .h2 {
    font: 700 28px "Poppins";
    line-height: 36px;
  }
  h3,
  .h3 {
    font: 700 18px "Poppins";
    line-height: 24px;
  }
  .title {
    font: 400 21px "Nunito Sans";
    line-height: 26px;
  }
  .btn-close {
    transition: none;
  }
  .responsive-tabs-menu {
    display: flex;
  }
  .modal-header {
    height: 56px;
    padding: 0 16px;
  }
  .modal-content {
    padding: 16px;
  }

  /* hotfix - see other comment for th non mobile version of this. */
  header {
    min-height: 64px;
  }

  .navbar .content {
    height: 64px;
    justify-content: space-between;
  }
  .nav-header {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .donate-wrap {
    display: block;
    text-align: right;
    padding: 24px 24px 24px 0;
  }
  .donate-icon {
    width: 96px;
    float: left;
  }
  .donate-description {
    width: auto;
  }
  .donate-description .h3 {
    margin-bottom: 16px;
  }
  .donate-description .gray {
    display: none;
  }
  .footer {
    margin-top: 32px;
  }
  .footer .content {
    height: auto;
    flex-direction: row-reverse;
    padding: 32px 15px;
  }
  .footer-logo {
    display: none;
  }
  .nav-footer {
    flex-direction: column;
    width: 50%;
  }
  .nav-footer-one {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .footer li a {
    display: block;
  }
  .footer-contacts {
    width: 50%;
    margin-right: 30px;
  }
  .footer-contacts div:nth-child(2) {
    margin-bottom: 16px;
  }
  .footer-welcome {
    margin-top: 0;
  }
  .delete-request,
  .delete-confirm {
    flex-direction: column;
    align-items: unset;
  }
  .danger-message {
    margin-right: unset;
    margin-bottom: 24px;
  }
  .danger {
    padding: 24px;
  }
  .tracking-code input {
    min-width: 50%;
  }
  .confirm-input {
    margin: 0 0 16px 0;
  }
  .new-pass {
    flex-direction: column;
    margin: unset;
  }
  .new-pass label {
    width: 100%;
    margin-bottom: 8px;
  }
  .old-pass {
    margin-bottom: 8px;
  }
  .account-btn-group {
    margin: 16px 0 24px 0;
  }
}
