{% extends "base.html" %} {% block html_lang %}{{ article.lang }}{% endblock %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %} {%
block head %} {{ super() }} {% import 'translations.html' as translations with
context %} {% if translations.entry_hreflang(article) %} {{
translations.entry_hreflang(article) }} {% endif %} {% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %} {% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %} {% endblock %} {% block content %}
<!-- Full article -->
<div class="full-article">
  {% if article.image %}
  <div class="blog-preview">
    <img
      src="{{ SITEURL }}/images/{{ article.image }}"
      width="258"
      height="200"
      alt="{{ article.title }}"
    />
  </div>
  {% endif %}
  <div class="blog-full-article-content bg-white shadow-lg">
    <div class="blog-full-article-content-info flex caption gray mb16">
      <div class="flex">
        <img
          src="{{ SITEURL }}/images/{{ article.author | slugify }}.png"
          width="24"
          height="24"
          alt="author"
        />
        <span class="ml8 mr24">{{ article.author }}</span>
        {{ article.date.strftime('%b %-d, %Y') }}
      </div>
      <div class="flex">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
            stroke="#9E9E9E"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 6V12L16 14"
            stroke="#9E9E9E"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
        <span class="ml8">{{ article.content | readtime }} min read</span>
      </div>
    </div>
    <div class="blog-full-text markdown-body">{{ article.content }}</div>
    <div class="our-product mt32">
      <img src="/img/product.svg" alt="Our product" />
      <div class="our-product-content gradient-red">
        <h3>Web Analytics</h3>
        <div class="gray mt8 mb24">Free. Privacy Friendly. Open Source.</div>
        <a class="btn-white" href="https://counter.dev/welcome.html?sign-up">
          Get started
        </a>
      </div>
    </div>
  </div>
</div>
<div class="blog-sidebar">
  <!-- Featured posts -->
  <div class="posts-list mb32">
    <h3 class="mb8">Latest posts</h3>
    {% for article in articles %} {% if loop.index <= 5 %} {# Show top 5 posts
    #}
    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    {% endif %} {% endfor %}
  </div>
  <!-- Newsletter -->
  {% include 'newsletter.html' %}
</div>

{% endblock %}
