<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your web dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<body>

  <div class="container">

     <div class="row my-5">
       <div class="col-md-3">
           <div class="card">
             <div class="card-body">
               <h5 class="card-title">Hello {{ username }},</h5>
               <p class="card-text">Use the following snippset, to track users in your webapp.</p>
<div class="input-group mb-3">
  <input type="text" readonly=readonly class="form-control" value='<img src="http://localhost:5000/user/track.svg"></img>' aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Copy</button>
  </div>
</div>
             </div>
           </div>
       </div>
       <div class="col-md-3">
         <canvas id="chart_dev" height="200"></canvas>
       </div>
       <div class="col-md-3">
         <canvas id="chart_browser" height="200"></canvas>
       </div>
       <div class="col-md-3">
         <canvas id="chart_os" height="200"></canvas>
       </div>
     </div>

     <div class="row my-5">
       <div class="col-md-12">
         <canvas id="chart_views" height="100"></canvas>
       </div>
      </div>

     <div class="row my-5">
       <div class="col-md-6">
         <table class="table border">
           <thead>
             <tr>
               <th scope="col">Unique Views</th>
               <th scope="col">Path</th>
             </tr>
           </thead>
           <tbody>
             {% for (item, count) in stats.path.items() %}
             <tr>
               <th scope="row">{{count}}</th>
               <td>{{item}}</td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
       <div class="col-md-6">
         <table class="table border">
           <thead>
             <tr>
               <th scope="col">Unique Views</th>
               <th scope="col">Language</th>
             </tr>
           </thead>
           <tbody>
             {% for (item, count) in stats.lang.items() %}
             <tr>
               <th scope="row">{{count}}</th>
               <td>{{item}}</td>
             </tr>
             {% endfor %}
           </tbody>
         </table>
       </div>
     </div>

</div>


<script>
colors = ["#b590ca", "#a8d3da", "#f5cab3", "#f3ecb8"]

legend = { position: 'top', labels: { usePointStyle: 'true' }, align: 'start'}


new Chart(document.getElementById("chart_os"), {
    type: 'pie',
    data: {
      labels: {{ chart.os.labels | tojson }},
      datasets: [
        {
          backgroundColor: colors,
          borderColor: "black",
          data: {{ chart.os.vals | tojson }},
        },
      ],
    },
    options: {
      legend: legend,
      cutoutPercentage: 70,
      title: {
          display: true,
          text: 'Os'
      }
    },
  });




new Chart(document.getElementById("chart_dev"), {
    type: 'pie',
    data: {
      labels: {{ chart.dev.labels | tojson }},
      datasets: [
        {
          backgroundColor: colors,
          borderColor: "black",
          data: {{ chart.dev.vals | tojson }},
        },
      ],
    },
    options: {
      legend: legend,
      cutoutPercentage: 70,
      title: {
          display: true,
          text: 'Device'
      }
    },
  });


new Chart(document.getElementById("chart_browser"), {
    type: 'pie',
    data: {
      labels: {{ chart.browser.labels | tojson }},
      datasets: [
        {
          backgroundColor: colors,
          borderColor: "black",
          data: {{ chart.browser.vals | tojson }},
        },
      ],
    },
    options: {
      legend: legend,
      cutoutPercentage: 70,
      title: {
          display: true,
          text: 'Browser'
      }
    },
  });


new Chart(document.getElementById("chart_views"), {
    type: 'line',
    data: {
      labels: {{ chart.date.labels | tojson }},
      datasets: [
        {
          backgroundColor: colors[1],
          borderColor: "black",
          data: {{ chart.date.vals | tojson }},
        },
      ],
    },
    options: {
      legend: {display: false},
      scales: {
          xAxes: [{
              gridLines: {
                  display:false
              }
          }],
          yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Unique Views'
              },
              ticks: {
                beginAtZero: true
              },
              gridLines: {
                  display: true
              }   
          }]
      }
    },
  });
</script>


</body>
</html>


