<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Measure how many people are using your webapp"> 
    <title>Webstats</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

<div style="max-width: 25em;" class="mx-5 my-2">
    <h1>Just web analytics</h1>
    <p>
    Webstats is a free web analytics tool for small to medium sized webapps. It's emphasisis on having the lowest possible barrier to get you started with web analytics for your project. 
    </p>

    {% if error %}
    <div class="alert alert-warning" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" action="">
      <div class="form-group has-error">
        <input class="form-control" name="username" value="{{username|e}}" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="password" name="password" value="{{password|e}}" class="form-control" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-secondary" name="action">Login</button>
      <button type="submit" class="btn btn-primary" name="action" value="register">Create Account</button>
    </form>

    <br />

    <h2>✓ Free</h2>
    Webstats technical design allows us to offer this service for free.

    <h2>✓ DSGVO-Compliant</h2>
    No cookies. No user identifier based tracking. You don't need any banners.

    <h2>✓ Fast Integration</h2>
    Create Account. See your tracking Snippet. Use it.

    </div>
</body>


</html>
