<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Measure how many people are using your webapp"> 
    <title>Webstats</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
.clean {
  color: #eb8034;
}
.btn-warning {
  font-weight: bold;
  background-color: #eb8034;
  border-color: black;
  color: white;
  text-shadow: -1px 0 #e86e17, 0 1px  #e86e17, 1px 0 #e86e17, 0 -1px #e86e17;
}

.btn-light, .btn-light:hover {
  border-color: black;
}


    </style>
</head>

<body>
<h1>Under Development</h1>
<div style="background-color: #eb8034; min-height: 100vh; padding-top: 5em;">

<img src="http://localhost:5000/track/1588964708.5805395" style="position: fixed; right: 0px; bottom: 0px"></img>
<br/>

<div class="container" style="max-width: 37em;">

    <div class="card border-dark">
    <div class="card-body">

    <div class="card-title"><h2><b class="clean">Simple</b> Web Analytics</h2></div>
    <h6 class="card-subtitle mb-2 text-muted">Instant Setup. No Cookies. Always Free.</h6>

    <div class="card-text">
    <p>
    The lowest possible barrier to get you started with web analytics.
    </p>

    {% if error %}
    <div class="alert alert-warning" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST" action="">
      <div class="form-group has-error">
        <input id="username" class="form-control" name="username" value="{{username|e}}" placeholder="Domain or username">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>

      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="submit" class="btn btn-light" name="action">Login</button>
        <a href="#text-begin" class="btn btn-light">Read more</a>
      </div>
      <button type="submit" class="btn btn-dark float-right" name="action" value="register">&nbsp;&nbsp;Register&nbsp;&nbsp;</button>
    </form>

    </div>
    </div>
</div>

</div>
</div>

<div class="container" style="margin-bottom: 5em;">

<style>
p.short {
    max-width: 40em;

}
</style>

<h1 id="text-begin">Just Simple</h1>
<p class="short">
Clean Web Analytics is uncompromisingly simple and tries very hard to stand out of your way.
</p>

<h1>Realtime</h1>
<p class="short">
Your traffic is available at the moment it happens. See what is happening now, not yesterday.
</p>

<h1>See What Really Matters</h1>
<p class="short">
We only show our users what they actually understand. Clean Web Analytics was
carefully crafted to give you an uncluttered view. Everything is in one
printable page. No hidden menus.  
</p>

<h1>No Cookies</h1>
<p class="short">
We don't use cookies. We don't track with JavaScript. We don't do
Fingerprinting. We don't assign user indentifiers to traffic at all. Privacy is
baked in at the core technical design choices of Clean Web Analytics.
</p>

</div>



</body>


</html>
