{% extends "base.html" %} {% block title %} Counter: Bet on us {% endblock %} {%
block image %} /img/invest.svg {% endblock %} {% block content %} {% markdown %}
# Invest We are looking for an investor. ## Who we are We are Bogdan, Tata and
Irae. Three product oriented, experienced professionals at your service. ## Some
numbers | Active users |
<span style="font-weight: normal">500</span>
| |:------------------|:----------------------------------| | Page views |
Median is ~1400 per month in 2020 | | Tracked visits | > 14,000,000 | |
Operational costs | Domain + low end VPS | *
<sup>December 2021</sup>
* ## Why we need investment? We are working at our day jobs. Our dream is to
push Counter forward instead. Interested? Don't be shy to reach out if you want
to get to know us better or more information. {% endmarkdown %} {% endblock %}
