/* =========== Privacy page =========== */

/* Import */
@import url('styles.css');

/* Body */
.privacy .content { padding: 120px 0 24px 0; justify-content: space-between; align-items: flex-end; }
.privacy-wrap { width: 635px; padding: 48px; }

/* Mobile */
@media (max-width: 1110px) {
	.privacy .content { padding: 24px 15px 0 15px; }
	.privacy-wrap { padding: 0; box-shadow: unset; }
	.privacy-pic { display: none; }
	.privacy-wrap .h2 { margin-bottom: 16px; }
}